@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333333;
  /* background-color: #f4e7d4; */
}

.active {
  color: #b03030;
  text-decoration: underline;
}

@media (max-width: 639px) {
  .sidebar {
    grid-row: 3;
  }
}
/* :root {
  --primary-color: #B03030;
  --accent-color: #F4D35E;
  --background-color: #F4E7D4;
  --secondary-color: #4A302F;
  --text-color: #333333;
} */
