@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #b03030;
  --accent-color: #f4d35e;
  --background-color: #f4e7d4;
  --secondary-background-color: #f7f0e6;
  --background-fade: #f4e7d493;
  --secondary-color: #4a302f;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --border-color: #ffffff;
}

/* f4e7d4 */
* {
  font-family: "Poppins", sans-serif;
}

.page-nav li .active {
  color: var(--primary-color);
  text-decoration: underline;
}

.main-nav li .active {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

@media (max-width: 639px) {
  .sidebar {
    grid-row: 3;
  }
}
